PORT=8000
MONGODB_CONNECTION_URI=<mongodburi>
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=GAJANAN
ACCESS_TOKEN_EXPIRY=1d
REFEESH_TOKEN_SECRET=GAJANAN1
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUDE_NAME=xxxxxxxx
CLOUDINARY_API_KEY=xxxxx
CLOUDINARY_SECRET=xxxxx