PORT=8000
MONGODB_CONNECTION_URI=mongodb+srv://gajanan:<password>@cluster0.ws12tlw.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=GS
ACCESS_TOKEN_EXPIRY=1d
REFEESH_TOKEN_SECRET=SG
REFRESH_TOKEN_EXPIRY=10d